# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/*.iml
**/*.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

./**/gradlew
./**/gradlew.bat
!gradlew
!gradlew.bat


# Ignore IDEA working files
.idea/libraries/**
